#cuerpo{
    background-color: #d49e23;
}
#contenedor{
    margin: 0 auto;
    width: 900px;
    height: 1200px;
    font-family: monospace;
}

#Encabezado{
    height: 15%;
    background-color:   rgb(230,200,149);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navidad{


}
#nacimiento{

}




/*       MENU      */
#barraNavegacion{
    height: 5%;
    border:  solid black;
    background-color:  #713505;
    text-decoration: none;
    text-align: left;
    display: flex;
    align-items: center;

    
}

#barraNavegacion a{
    color: aliceblue;
    text-decoration: none;
}

#seccion1{
    text-align: left;
    height: 30%;
    border: 2px solid blue;
    background-color: #b01a1c;
}
#seccion2{
    text-align: left;
    height: 30%;
    border: 2px solid black;
    background-color: #dcc43c;
}

#pieNavegacion{
    border: 2px solid black;
    background-color:  #744607;
}

#img1{
    margin-right: 4px;
}